
.post-content ul, .post-content ol {
    list-style: disc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-content ul li, .post-content ol li {
    padding-left: 0;
    margin-left: 17px;
}

.post-content p {
    margin: 15px 0 15px 0;
}

.post-content div {
    margin: 10px 0;
}

i.fa.fa-comment {
    margin-right: 10px;
}

/* social btns */

.btn-fb {
    color: white;
    background-color: #4667A6;
}

.btn-tw {
    color: white;
    background-color: #00A3D4;
}

.btn-gp {
    color: white;
    background-color: #da4834;
}

.btn-li {
    color: white;
    background-color: #4875B4;
}