{% load staticfiles %}
<!-- Start Site Header -->
<header class='site-header'>
  <div class='topbar'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-5 col-sm-5 col-xs-4'></div>
        <div class='col-md-2 col-sm-2 col-xs-4'>
          <h1 class='logo'>
            <a href=''>
              <img src='{% static 'images/logo_missao.png' %}' alt='Programando Python en Español' />
            </a>
          </h1>
        </div>
        <div class='col-md-5 col-sm-5 col-xs-4'>
          <a class='visible-sm visible-xs menu-toggle' href='#'>
            <i class='fa fa-bars'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='main-menu-wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          {% include 'includes/navbar.html' %}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Site Header -->
